.section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}

.contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
}

.contact-item-inner {
    padding: 30px 15px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-item-inner a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-icon {
    font-size: 25px;
    color: var(--skin-color);
    margin-bottom: 10px;
}

.contact-item-inner span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 15px 0 10px;
    text-transform: capitalize;
}

.contact-item-inner a p,
.contact-item-inner p {
    font-size: 16px;
    line-height: 26px;
    color: var(--text-black-600);
    margin: 0;
    word-break: break-word;
}

@media (max-width: 767px) {
.contact-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
