.scroll-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-btn {
    font-size: 2.4rem;
    width: 3rem;
    height: 3rem;
    color: var(--skin-color);
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg-black-50);
}

.arrow-icon {
    animation: topBounc 1.5s infinite;
}

@keyframes topBounc {
    0% {
        margin-bottom: 0;
    }

    50% {
        margin-bottom: 20px;
    }

    100% {
        margin-top: 3px;
    }
}

@media (max-width:767px) {
    .top-btn {
        bottom: 2rem;
        right: 1rem;
    }
}